{% extends "base.html" %}

{% block content %}
    <h1>{{ _("Добавление записи") }}</h1>
    <script>
        var is_link = true;

        function file_checker() {
            var chbox;
            var link;
            var upload;
            chbox = document.getElementById('in_file');
            link = document.getElementById('link');
            upload = document.getElementById('upload');
            if (chbox.checked) {
                is_link = false;
                link.hidden = true;
                if (filename == null) {
                    document.getElementById('submit_btn').hidden = true;
                }
                upload.hidden = false;
            } else {
                is_link = true;
                document.getElementById('submit_btn').hidden = false;
                link.hidden = false;
                upload.hidden = true;
            }
        }

        function need_checker() {
            var chbox;
            var link;
            var upload;
            var chbox_l;
            chbox = document.getElementById('in_need');
            chbox_l = document.getElementById('in_file_l');
            link = document.getElementById('link');
            upload = document.getElementById('upload');
            if (chbox.checked) {
                chbox_l.hidden = false;
                file_checker();
            } else {
                chbox_l.hidden = true;
                link.hidden = true;
                upload.hidden = true;
            }
        }

        var onserver;
        var filename;

        function checkbyname() {
            var file = $("#uploaded_file")[0].files[0];
            filename = file.name;
            var label = document.getElementById("upload_data");
            $.ajax({
                type: 'GET',
                url: '/check_file_uploaded/' + filename,
            }).done(function (resp) {
                onserver = (resp === "True");
                document.getElementById("OnServer").checked = onserver;
                if (onserver) {
                    label.textContent = "{{_("Файл найден на сервере. Загрузка не требуется")}}";
                    document.getElementById("submit_btn").hidden = false;
                } else {
                    label.textContent = '{{_("Файл не найден на сервере. Требуется загрузка")}}';
                    document.getElementById("submit_btn").hidden = false;
                }
            });
        }
    </script>
    <form action="" id="main_form" method="post">
        <div>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control") }}<br>
            {% for error in form.content.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        {{ form.uploaded(hidden=true, id="OnServer") }}
        {{ form.uploaded_filename(hidden=true, id="fname") }}
        <p>{{ form.need_upload(id='in_need', onchange="need_checker()") }} {{ form.need_upload.label }}</p>
        <p id='in_file_l'>{{ form.is_file(id='in_file', onchange="file_checker()") }} {{ form.is_file.label }}</p>
        <p id='link'>{{ form.file_link.label }}: {{ form.file_link() }}</p>
        <div id='upload' hidden={{ form.is_file.data }}>{{ form.uploaded_file(id='uploaded_file') }}<input type="button"
                                                                                                           class="btn btn-primary"
                                                                                                           id="upload_btn"
                                                                                                           onclick="checkbyname()"
                                                                                                           value='{{ _("Проверить") }}'/>
            <h5 id="upload_data"></h5>
        </div>
        <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
        <div hidden id="p_progress_bar">
            <progress value="0" max="100" id="uploadprog"></progress>
            <h5 id="percent">0%</h5>
            <h5 hidden id="G_server"></h5>
        </div>
        <p><input class="btn btn-primary" type="submit" id="submit_btn" value="{{ _("Создать") }}"/></p>
    </form>
    <script>
        $(document).ready(function () {
            need_checker();
            $("#uploaded_file").change(function () {
                onserver = null;
                filename = null;
                document.getElementById("upload_data").textContent = "";
                document.getElementById("submit_btn").hidden = true;
            });
            $("#main_form").submit(function (event) {
                var form = $("form");
                document.getElementById("p_progress_bar").hidden = false;
                if (onserver) {
                    document.getElementById("fname").value = filename;
                    document.getElementById("uploaded_file").value = null;
                }
                var formData = new FormData(form[0]);
                $.ajax({
                    url: "#",
                    type: 'POST',
                    data: formData,
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener('progress', function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = Math.round((evt.loaded * 100) / evt.total);
                                var progress_bar = $('#uploadprog');
                                var percents_of_bar = $('#percent');
                                progress_bar.val(percentComplete);
                                percents_of_bar.html(percentComplete + "%");
                            }
                        }, false);
                        return xhr;
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function (data) {
                    if (!onserver && !is_link) {
                        var G_server = document.getElementById("G_server");
                        G_server.hidden = false;
                        var timeout = 1000;
                        var dotnum = 0;
                        var uploading = function (task_id) {
                            $.ajax({
                                type: 'GET',
                                url: '/progress/' + task_id,
                            }).done(function (progress) {
                                console.log(progress);
                                if (progress == 101) {
                                    G_server.textContent = '{{_("Файл загружен!")}}'
                                    window.location.href = "/finish_progress/" + task_id;
                                } else {
                                    G_server.textContent = '{{_("Загрузка файла на сервер")}}' + '...'.slice(0, dotnum)
                                    dotnum++;
                                    if (dotnum > 3) {
                                        dotnum = 0;
                                    }
                                    setTimeout(uploading, timeout, task_id);
                                }
                            });
                        }
                        uploading(data);
                    } else {
                        window.location.href = "/"
                    }
                });
                event.preventDefault();
            });
        });
    </script>
{% endblock %}