{% extends "base.html" %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h1>{{_("Вы:")}} {{ user.name }}, {{_("Одобрены:")}} {% if user.is_approved %}{{_("Да")}} {% else %}{{_("Нет")}} {% endif %},
        {{_("Админ:")}} {% if
        user.is_admin %}{{_("Да")}} {% else %}{{_("Нет")}} {% endif %}</h1>
    <p>
    <h3>{{_("Ваша дата регистрации:")}} {{ user.created_date }}</h3>
    <p>
    <h2>{{_("О вас:")}}</h2><br>
    {{ form.about(class="form-control") }}<br>
    {% for error in form.about.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <br>
    <h2>{{_("Ваша почта:")}}</h2>
    <h3>{{ user.email }}</h3>
    <br>
    <p>
    <h2>{{_("Смена пароля:")}}</h2>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
    </p>
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}