{% extends "base.html" %}

{% block content %}
    <h1>{{ item.title }}</h1>
    <div class="col-md6 border rounded">
        <h3>{{ _("Автор") }} - <a class="navbar-brand"
                                  href="/user/{{ item.user.id }}">{{ item.user.name }}</a>, {{ _("Дата написания") }} -
            {{ item.created_date }}</h3>
        <p>
        <h4>{{ _("Текст:") }}</h4>
        <div style="white-space: pre-line">
            <h3>{{ item.content }}</h3>
        </div>
        <br>
        {% if item.need_upload %}
            <div>
                {% if current_user.is_authenticated %}
                    {% if item.is_file %}
                        <form action="" id="downform" method="post">
                            <p>
                            <h5 id="dwn_txt">{{ _("Файл:") }}</h5>
                            <input class="btn btn-primary" type="submit" id="dwn_btn" value='{{ _("Скачать") }}'/>
                            <progress value="0" max="100" hidden=true id="downprog"></progress>
                            <h5 id="percent" hidden=true>0%</h5>
                            </p>
                        </form>
                        <script>
                            function checkbyname() {
                                var filename = '{{ item.uploaded_file_secured_name }}';
                                var res;
                                $.ajax({
                                    type: 'GET',
                                    async: false,
                                    url: '/check_file_uploaded/' + filename,
                                }).done(function (resp) {
                                    res = (resp == "True");
                                });
                                return res;
                            }

                            function check_progress(task_id) {
                                var timeout = 1000;
                                var dotnum = 0;
                                document.getElementById("dwn_btn").hidden = true;
                                progress_bar = document.getElementById("downprog");
                                percent = document.getElementById("percent");
                                progress_bar.hidden = false;
                                percent.hidden = false;
                                var downlaoding = function (task_id) {
                                    $.ajax({
                                        type: 'GET',
                                        url: '/progress/' + task_id,
                                    }).done(function (progress) {
                                        if (progress < 101) {
                                            document.getElementById("dwn_txt").textContent = '{{_("Загрузка")}}' + '...'.slice(0, dotnum)
                                            dotnum++;
                                            if (dotnum > 3) {
                                                dotnum = 0;
                                            }
                                            progress_bar.value = progress;
                                            percent.textContent = progress + "%";
                                            setTimeout(downlaoding, timeout, task_id);
                                        } else {
                                            window.location.href = "/finish_progress/" + task_id;
                                            progress_bar.value = 0;
                                            progress_bar.hidden = true;
                                            percent.hidden = true;
                                            document.getElementById("dwn_btn").hidden = false;
                                            document.getElementById("dwn_txt").textContent = '{{_("Файл:")}}';
                                            document.getElementById("downform").reset();
                                            id = undefined;
                                        }
                                    });
                                };
                                downlaoding(task_id);
                            }

                            var id = undefined;
                            $(document).ready(function () {
                                $("#downform").submit(function (event) {
                                    if (!checkbyname()) {
                                        var percent = document.getElementById("percent");
                                        percent.textContent = '{{_("Запрашиваемый файл не найден на сервере")}}';
                                        percent.hidden = false;
                                    } else {
                                        sendAjaxForm("downform", '{{ item.uploaded_file_secured_name }}');
                                    }
                                    event.preventDefault();

                                });
                            });

                            function sendAjaxForm(form_ajax, msg) {
                                $.ajax({
                                    data: {filename: msg},
                                    type: 'POST',
                                    async: false,
                                    url: '/page_download',
                                }).done(function (response) {
                                    var json = jQuery.parseJSON(response);
                                    if (json.success == 'true') {
                                        id = json.id;
                                    } else {
                                        id = -1;
                                    }
                                });
                                check_progress(id);
                            }
                        </script>
                    {% else %}
                        <p>
                        <h5>{{ _("Ссылка:") }}</h5>
                        <a class="btn btn-primary" href="{{ item.file_link }}">{{ _("Перейти") }}</a>
                        </p>
                    {% endif %}
                {% else %}
                    <h4>{{ _("Войдите или зарегистрируйтесь для получения доступа к ссылке или файлу") }}</h4>
                {% endif %}
            </div>
            </p>
        {% endif %}
    </div>

    <div class="col-md6 border rounded">
        <h3>{{ _("Комментарии:") }}</h3>
        {% if current_user.is_authenticated %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.text.label }}<br>
                    {{ form.text(class="form-control") }}<br>
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </form>
        {% else %}
            <h4>{{ _("Войдите или зарегестрируйтесть для того, чтобы оставить комментарий") }}</h4>
        {% endif %}
        {% for comment in item.messages %}
            <div class="col-md6 border rounded">
                <h4>{{ _("Комментарий пользователя:") }} "{{ comment.user_name }}":</h4>
                <div style="white-space: pre-line">
                    <h5>{{ comment.text }}</h5>
                </div>
                {% if current_user.is_authenticated and (comment.user_id == current_user.id or current_user.is_admin) %}
                    <div
                    ><a href="/page/{{ item.id }}/message/{{ loop.index0 }}" class="btn btn-warning">
                        {{ _("Изменить") }}
                    </a>
                        <a href="/page/{{ item.id }}/remove_message/{{ comment.id }}" class="btn btn-danger">
                            {{ _("Удалить") }}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}